body {
  font-family: "inter", sans-serif;
  font-weight: 400;
}

.container {
  margin-left: auto;
  margin-right: auto;
  max-width: 1536px;
}

.flex {
  display: flex;
}

header {
  background-color: #114a43;
  top: 0;
  position: sticky;
  z-index: 100;
}

.btn {
  font-size: 12px;
  padding: 12px 18px;
  text-decoration: none;
  border-radius: 24px;
}
.btn.btn-primary {
  background-color: #114a43;
  color: #fff;
}
.btn.btn-secondary {
  background-color: #d8e28c;
  color: #000405;
}
.btn.btn-link {
  color: #fff;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px 30px;
  color: #fff;
}
.header__brand {
  font-size: 1.5rem;
  font-weight: 700;
  color: inherit;
  text-decoration: none;
}
.header__navigation ul {
  display: flex;
  list-style: none;
  column-gap: 24px;
}
.header__navigation ul li a {
  text-decoration: none;
  color: inherit;
}
.header__navigation-menu {
  display: none;
}

.jumbotron {
  background-color: #114a43;
  color: #fff;
}
.jumbotron__container {
  padding: 48px 30px;
}
.jumbotron__title {
  font-size: 64px;
  max-width: 60%;
  line-height: 125%;
  margin-bottom: 48px;
  font-weight: 600;
}
.jumbotron__content {
  display: flex;
}
.jumbotron__content-item {
  flex: 1;
  margin-right: 24px;
}
.jumbotron__description {
  color: #cbd6d6;
  font-weight: 400;
  max-width: 500px;
  line-height: 125%;
  margin-bottom: 48px;
}
.jumbotron__image {
  width: 40%;
  height: auto;
  margin-top: -200px;
}

.statistics {
  background-color: #dff2ec;
  color: #000405;
}
.statistics__container {
  display: flex;
  justify-content: space-between;
  padding: 48px 64px;
}
.statistics__item {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.statistics__item-counter {
  font-size: 64px;
  font-weight: 500;
  margin-bottom: 8px;
  color: inherit;
}
.statistics__item-description {
  font-size: 14px;
  color: inherit;
}

.subscription__container {
  padding: 74px 48px;
}
.subscription__title {
  font-size: 32px;
  font-weight: 500;
  margin-bottom: 82px;
  text-align: center;
}
.subscription__plan {
  display: flex;
  column-gap: 24px;
}
.subscription__item {
  padding: 24px 32px;
  border-right: 1px solid #cbd6d6;
}
.subscription__item:last-child {
  border-right: none;
}
.subscription__item-title {
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 16px;
}
.subscription__item-description {
  font-size: 14px;
  line-height: 150%;
}

.feature__container {
  display: flex;
  gap: 24px;
  flex-wrap: wrap;
  padding: 48px 64px;
}
.feature__item {
  background-color: #dff2ec;
  padding: 32px 52px;
}
.feature__item-title {
  font-size: 52px;
  font-weight: 500;
  margin-bottom: 18px;
  line-height: 110%;
}
.feature__item-description {
  font-size: 14px;
  line-height: 150%;
  margin-bottom: 32px;
}
.feature__item:nth-child(1),
.feature__item:nth-child(2) {
  flex: 1;
}
.feature__item:nth-child(3) {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 32px;
}
.feature__item:nth-child(1) img,
.feature__item:nth-child(2) img {
  width: 100%;
  height: auto;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 30px;
  overflow: hidden;
}
.feature__item:nth-child(3) img {
  width: 400px;
  height: auto;
  border-radius: 0;
  box-shadow: none;
}

.superiority__container {
  padding: 24px 64px;
  display: flex;
  column-gap: 56px;
  align-items: center;
}
.superiority__figure {
  min-width: 30%;
  max-width: 575px;
}
.superiority__content {
  padding-top: 24px;
}
.superiority__title {
  font-size: 52px;
  font-weight: 500;
  margin-bottom: 24px;
  max-width: 500px;
  line-height: 125%;
}
.superiority__description {
  font-size: 12px;
  margin-top: 24px;
  line-height: 150%;
  max-width: 450px;
}
.superiority__actions {
  margin-top: 24px;
  display: flex;
}

.testimonial {
  position: relative;
  z-index: 1;
}
.testimonial__container {
  padding: 40px 48px;
}
.testimonial__title {
  font-size: 42px;
  font-weight: 500;
  margin-bottom: 32px;
  text-align: center;
}
.testimonial__content {
  display: flex;
  column-gap: 56px;
  align-items: center;
  background-color: #d8e28c;
}
.testimonial__figure {
  padding-top: 24px;
  margin-left: 32px;
}
.testimonial__review {
  padding-top: 24px;
}
.testimonial__review-text {
  font-size: 24px;
  line-height: 150%;
  margin-bottom: 24px;
  max-width: 70%;
}
.testimonial__review-person {
  line-height: 125%;
}

.footer {
  margin-top: -100px;
  background-color: #114a43;
  color: #fff;
}
.footer__container {
  padding: 124px 48px 24px 48px;
}
.footer__content {
  display: flex;
  justify-content: space-between;
  column-gap: 128px;
}
.footer__content-left {
  display: flex;
  justify-content: space-between;
  flex: 1;
}
.footer__content-right-title {
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 12px;
}
.footer__content-right-description {
  font-size: 12px;
  line-height: 150%;
  max-width: 300px;
  margin-bottom: 16px;
  color: #cbd6d6;
}
.footer__email-group {
  display: flex;
  column-gap: 12px;
  position: relative;
}
.footer__email-group input {
  padding: 12px 18px;
  border-radius: 24px;
  border: none;
  outline: none;
  width: 100%;
}
.footer__email-group button {
  padding: 12px 18px;
  border-radius: 24px;
  border: none;
  outline: none;
  background-color: #d8e28c;
  color: #000405;
  position: absolute;
  right: 0;
  top: 0;
  cursor: pointer;
}
.footer__nav-title {
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 12px;
}
.footer__nav-list-item {
  margin-bottom: 12px;
}
.footer__nav-list-item a {
  color: #cbd6d6;
  font-size: 12px;
  text-decoration: none;
}
.footer__copyright {
  font-size: 12px;
  margin-top: 24px;
  padding-top: 32px;
  border-top: 1px solid #cbd6d627;
  display: flex;
  justify-content: space-between;
}
.footer__brand {
  font-size: 1.5rem;
  font-weight: 700;
  color: inherit;
  text-decoration: none;
}
.footer__social-media-item img {
  width: 24px;
  height: 24px;
  margin-right: 12px;
}

@media screen and (max-width: 768px) {
  .header__container {
    position: relative;
    z-index: 1000;
  }
  .header__navigation {
    display: flex;
    position: fixed;
    right: 0;
    left: 0;
    top: -300px;
    background-color: #114a43;
    transition: all 0.5s ease-in-out;
    z-index: 0;
  }
  .header__navigation.header__navigation-open {
    top: 71px;
  }
  .header__navigation ul {
    flex-direction: column;
    width: 100%;
  }
  .header__navigation ul li {
    text-align: center;
    padding: 24px;
  }
  .header__navigation ul li:hover {
    background-color: #0f443d;
  }
  .header__actions a {
    display: none;
  }
  .header__navigation-menu {
    display: inline-block;
    border: none;
    background-color: transparent;
  }
  .header__navigation-menu-container {
    width: 36px;
  }
  .header__navigation-menu-container-icon {
    stroke: #ffffff;
    position: relative;
    width: 100%;
    height: 100%;
    fill: none;
    stroke-width: 6;
    stroke-linecap: round;
    stroke-linejoin: round;
    cursor: pointer;
  }

  .jumbotron__title {
    font-size: 28px;
    max-width: none;
    margin-bottom: 12px;
    text-align: center;
  }
  .jumbotron__content-item {
    margin-right: 0;
  }
  .jumbotron__description {
    font-size: 12px;
    text-align: center;
  }
  .jumbotron__content {
    flex-direction: column;
    row-gap: 28px;
  }
  .jumbotron__actions {
    display: flex;
    justify-content: center;
  }

  .feature__item-title {
    font-size: 12px;
  }

  .statistics__container {
    flex-direction: column;
    row-gap: 48px;
  }
  .statistics__item-counter {
    font-size: 64px;
  }

  .subscription__title {
    font-size: 24px;
    margin-bottom: 24px;
  }
  .subscription__plan {
    flex-direction: column;
    row-gap: 0px;
  }
  .subscription__item {
    padding: 24px 0;
    border-right: none;
  }
  .subscription__item-title {
    text-align: center;
  }
  .subscription__item-description {
    text-align: center;
  }

  .superiority__container {
    flex-direction: column;
    row-gap: 48px;
    padding: 24px;
  }
  .superiority__title {
    font-size: 24px;
    text-align: center;
  }
  .superiority__figure {
    min-width: unset;
    width: 100%;
  }
  .superiority__content {
    padding-top: 0;
  }
  .superiority__description {
    max-width: none;
    text-align: center;
  }
  .superiority__actions {
    justify-content: center;
  }

  .testimonial__container {
    border-top: 1px solid #cbd6d6;
    padding: 24px;
  }
  .testimonial__title {
    font-size: 24px;
    text-align: center;
  }
  .testimonial__review {
    padding: 24px;
  }
  .testimonial__figure {
    display: none;
  }
  .testimonial__review-text {
    max-width: none;
    text-align: center;
    padding: 0;
    font-size: 16px;
  }
  .testimonial__review-person {
    text-align: center;
    font-size: 12px;
  }

  .footer__copyright {
    flex-direction: column;
    gap: 12px;
    align-items: center;
  }
  .footer__social-media {
    display: flex;
    justify-content: center;
  }
  .footer__social-media-item img {
    width: 18px;
  }
}
@media (max-width: 1200px) {
  .jumbotron__title {
    max-width: none;
  }

  .jumbotron__image {
    display: none;
  }

  .feature__container {
    padding: 48px 24px;
  }
  .feature__item-title {
    font-size: 32px;
  }
  .feature__item:nth-child(3) {
    flex-direction: column;
    row-gap: 24px;
  }
  .feature__item-image {
    max-width: 400px;
  }
  .feature__item:nth-child(1) img,
  .feature__item:nth-child(2) img {
    border-radius: 12px;
  }
  .feature__item:nth-child(3) img {
    width: 100%;
    height: auto;
  }

  .footer__content {
    flex-direction: column;
    gap: 24px;
    justify-content: space-between;
  }
  .footer__content-left {
    flex-wrap: wrap;
    gap: 36px;
    justify-content: flex-start;
  }
}
